@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');


body {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;

  background: #1B1B1B;
  color: #EDECEC;

  text-align: center;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
}

div {
  margin: auto;
}

h1, h2 {
  font-size: max(140px, 8vw);
  font-weight: 400;
  margin: 0;
  line-height: 1; 
}

h1 {
  font-style: italic;
  letter-spacing: -0.08em;
}

h1 span {
  letter-spacing: -0.1em;
}

h2 {
  letter-spacing: 0.02em;
}

img, footer {
  position: absolute;
}

.flowers-1 {
  width: max(25vw, 20vh);
  top: 1em; left: 0.5em;
}

.flowers-2 {
  width: max(35vw, 40vh);
  bottom: 1em; right: 1em;
}


p {
  font-size: max(50px, 3vw);
  margin: 0;
  margin-top: 2em;
}