@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;

  background: #fde4d8; /* #dec4dc */
  color: #f28e54;
  /* -webkit-text-stroke: 1px #414141; */
  text-align: justify;

  font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  font-size: 5.8vmax;

  letter-spacing: -0.025em;
  line-height: 1.3em;
}

div {
  margin: auto;
  padding: 1em;
}

p {
  margin: 0;
  font-style: italic;
}

.fill {
  color: #414141;
  -webkit-text-stroke: 0;
  font-style: normal;
}

.i {
  font-style: italic;
}

sup {
  font-size: 0.6em;
  padding-left: 0.1em;
}